services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    networks:
      - translator-network
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always
    environment:
      - OLLAMA_KEEP_ALIVE=0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  go-worker:
    build: .
    container_name: go-worker
    depends_on:
      ollama:
        condition: service_started
    env_file:
      - .env
    networks:
      - translator-network

volumes:
  ollama_storage:

networks:
  translator-network:
    name: translator-network
    driver: bridge